In [1]:
#Question 1

a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()
b()
b()
a

6

In [ ]:
# 6 is displayed when the last expression (a) is evaluated.
# The variable 'a' defined in function 'b()' has its scope get to global. 
# This means that the variable 'a' that is outside the function will be affected by any changes to this variable.
# When the first b() function is called, a is assigned the value return by function c() which is a + 2 OR 0 + 2 = 2
# The second time function b() is called a has the value 2 and in this iteration changes to 2 + 2 = 4
# The third function call follows a similar calculation and sets variable a to 6 finally.

In [41]:
#Question 2

import os

def fileLength(filename):
    try:
        with open(filename) as file:
            data = file.readlines()
            print(len(data))
            
    except:
        print (f"File {filename} not found.")

In [42]:
fileLength('Filelength.txt')

5

In [43]:
fileLength('Nofile.txt')

File Nofile.txt not found.

In [46]:
#Question 3

class Marsupial:
    
    def __init__(self):
        self.pouch = []
        
    def put_in_pouch(self, thing):
        self.pouch.append(thing)
        
    def pouch_contents(self):
        print (self.pouch)

In [47]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [48]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        super().__init__()
        self.x = x
        self.y = y
        
    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
        
    def jump(self,dx,dy):
        self.x += dx
        self.x += dy

In [49]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [50]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [51]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k)

I am a Kangaroo located at coordinates (3,0)

In [14]:
#Question 4


def collatz(num):
    if num != 1:
        print(num)
        
        if num % 2 == 0:
            num = int(num // 2)
            
        else:
            num = int(3 * num + 1)
        
        collatz(num)
        
    else:
        print(num)

In [15]:
collatz(1)

1

In [16]:
collatz(10)

10
5
16
8
4
2
1

In [27]:
#Question 5

def binary(n):
    
    if n > 1:
        binary(n // 2)
        
    print(n % 2,end = '')

In [28]:
binary(0)

0

In [29]:
binary(1)

1

In [30]:
binary(3)

11

In [31]:
binary(9)

1001

In [38]:
#Question 6

from html.parser import HTMLParser

class HeadingParser(HTMLParser):

    def __init__(self):
        super().__init__()
        self.inLink = False
        self.dataArray = []



    def handle_starttag(self, tag, attr):
   
        if tag == 'h1' or tag == 'h2':
            self.inLink = True
            self.lasttag = tag


    def handle_data(self, data):
        if self.lasttag == 'h1' and self.inLink and data.strip():
            print (data)
        elif self.lasttag == 'h2' and self.inLink and data.strip():
            print(" "+ data)

In [39]:

infile = open("w3c.html")
content = infile.read()
infile.close() 

hp = HeadingParser()
hp.feed(content)

W3C Mission
 Principles

In [ ]:
#Question 7
# NOT REQUIRED

In [1]:
#Question 8
%load_ext sql

In [2]:
%sql sqlite://

In [7]:
%%sql
CREATE TABLE Temperature
(
    City text, 
    Country text, 
    Season text,
    Temperature float,
    Rainfall float
);

 * sqlite://
Done.

[]

In [11]:
%%sql
INSERT INTO Temperature VALUES
('Mumbai','India', 'Winter',24.8,5.9),
('Mumbai','India', 'Spring',28.8,16.2),
('Mumbai','India', 'Summer',27.9,1549.4),
('Mumbai','India', 'Fall',27.6,346.0 ),
('London','United Kingdom','Winter',4.2,207.7 ),
('London','United Kingdom','Spring',8.3,169.6 ),
('London','United Kingdom','Summer', 15.7,157.0),
('London','United Kingdom','Fall', 10.4,218.5),
('Cairo','Egypt','Winter', 13.6,16.5),
('Cairo','Egypt','Spring', 20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall', 22.2,4.5)

 * sqlite://
12 rows affected.

[]

In [12]:
%%sql
select Temperature from Temperature;

 * sqlite://
Done.

[(24.8,),
 (28.8,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [13]:
%%sql
select distinct city from Temperature where country =='India';

 * sqlite://
Done.

[('Mumbai',)]

In [14]:
%%sql
select * from Temperature where season =='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [15]:
%%sql
select distinct city from Temperature;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [16]:
%%sql
select city, country, season from Temperature where rainfall between 200 and 400;

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [17]:
%%sql
select city, country, season from Temperature where season =='Fall' and Temperature >20 order by Temperature ASC;

 * sqlite://
Done.

[('Cairo', 'Egypt', 'Fall'), ('Mumbai', 'India', 'Fall')]

In [18]:
%%sql
select sum(rainfall) AS total_annual_rainfall from Temperature where city =='Cairo';

 * sqlite://
Done.

[(27.6,)]

In [19]:
%%sql
select season, sum(rainfall) from Temperature where city =='Cairo';

 * sqlite://
Done.

[('Winter', 27.6)]

In [5]:
#Question 9

words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']

In [19]:
#9.a)

print([i.upper() for i in words])

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [20]:
#9.b)

print([i.lower() for i in words])

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [21]:
#9.c)

print([len(i) for i in words])

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [26]:
#9.d)

print([[i.upper(),i.lower(),len(i)] for i in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [37]:
#9.e)

print([i for i in words if len(i) >= 4])     # The output in the question paper seems to be wrong

['quick', 'brown', 'jumps', 'over', 'lazy']